@charset "UTF-8";
/* Utilitaires color */
/* Couleurs de fonds */
/* Couleur de txt */
/* Variables Box Shadows */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Shrikhand&display=swap");
.btn_menus, .presentation__box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carte, .restaurants, .fonctionnement, .presentation, .localisation, .footer, .header {
  width: 100%;
  padding: 30px 15px;
  margin: 0 auto;
  position: relative;
  z-index: 5;
}

/*
@mixin type-txt ($font-size, $font-weight, $line-height ) {
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
}

*/
/*===================== CSS Components ===================== */
.btn {
  padding: 18px;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  color: #FFF;
  background: linear-gradient(#FF79DA, 15%, #9356DC);
  box-shadow: 0px 10px 5px #c2c2c2;
  opacity: 80%;
}

/*===================== Fin CSS Components ===================== */
/*===================== CSS principal ===================== */
/*===================== Fonts ===================== */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFF;
  font-family: "Roboto";
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  font-size: 26px;
  font-weight: 900;
  line-height: 30px;
}

h2 {
  font-size: 19px;
  font-weight: 400;
  line-height: 27px;
}

p {
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/*===================== Fin CSS principal ===================== */
/*===================== CSS Animations ===================== */
@keyframes slideDownPlats {
  0% {
    transform: translateY(35px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.first {
  animation: slideDownPlats 1000ms 50ms backwards;
}

.second {
  animation: slideDownPlats 1000ms 500ms backwards;
}

.third {
  animation: slideDownPlats 1000ms 1000ms backwards;
}

/*===================== CSS Header ===================== */
.header {
  border-bottom: 4px solid #d1d1d1;
}
.header__img {
  display: flex;
  justify-content: space-between;
  width: 180px;
  height: 30px;
  margin: 0 auto;
}
.header__img .fa-arrow-left {
  margin-left: -65px;
  font-size: 30px;
  color: black;
}

/*===================== Fin CSS Header ===================== */
/*===================== CSS Footer ===================== */
.footer {
  background-color: rgb(36, 36, 36);
}
.footer__img {
  margin-bottom: 20px;
  width: 150px;
  color: white;
}
.footer__titrelogo {
  font-family: "Shrikhand";
  color: white;
  line-height: 50px;
  font-weight: 500;
}
.footer a {
  color: #FFF;
  line-height: 30px;
}
.footer__logo {
  width: 10px;
  color: white;
  margin-right: 20px;
}

/*===================== Fin CSS Footer ===================== */
/*===================== CSS localisation ===================== */
.localisation {
  background-color: #E1E1E1;
}
.localisation__position {
  display: flex;
  justify-content: center;
  align-items: center;
}
.localisation__position input {
  width: 180px;
  font-weight: 700;
  font-size: 19px;
  padding: 10px;
  border: none;
  background-color: #E1E1E1;
}

/*===================== Fin CSS localisation ===================== */
/*===================== CSS Présentation ===================== */
.presentation {
  padding-top: 40px;
  padding-bottom: 60px;
  background-color: #EEEEEE;
}
.presentation__box {
  flex-direction: column;
  text-align: center;
}
.presentation__box h2 {
  margin-top: 15px;
  margin-bottom: 40px;
}

/*===================== Fin CSS Présentation ===================== */
/*===================== CSS Fonctionnement ===================== */
.fonctionnement {
  display: flex;
  flex-direction: column;
}
.fonctionnement__box {
  display: flex;
  justify-content: space-around;
  background-color: #EEEEEE;
  border-radius: 40px;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0px 10px 5px #c2c2c2;
}
.fonctionnement__box__numero {
  background-color: #9356DC;
  padding: 5px 10px 5px 10px;
  border-radius: 100px;
  margin-left: -42px;
  color: #FFF;
}
.fonctionnement__box__logo {
  padding: 5px;
}
.fonctionnement__box p {
  padding: 5px;
  width: 250px;
  padding-right: 60px;
  font-size: 15px;
  font-weight: 600;
}
.fonctionnement h1 {
  margin-bottom: 40px;
}

/*===================== Fin CSS Fonctionnement ===================== */
/*===================== CSS restaurants ===================== */
.restaurants {
  display: flex;
  flex-direction: column;
}
.restaurants__cards {
  margin-top: 12px;
  margin-bottom: 12px;
  box-shadow: 0px 10px 5px #c2c2c2;
  border-radius: 30px;
}
.restaurants__cards .news::after {
  content: "Nouveau";
  background-color: #99E2D0;
  color: #293b36;
  padding: 10px;
  position: relative;
  top: -160px;
  left: 70%;
}
.restaurants__cards__images {
  width: 100%;
  height: 190px;
}
.restaurants__cards img {
  border-radius: 20px 20px 0px 0px;
}
.restaurants__cards__name {
  padding: 10px;
  display: grid;
  margin-top: 10px;
}
.restaurants__cards__name h2 {
  color: black;
  font-weight: 900;
  font-size: 20px;
}
.restaurants__cards__name p {
  font-size: 18px;
  color: black;
}
.restaurants__cards .fa-heart {
  font-size: 30px;
  margin-left: 320px;
  position: relative;
  bottom: 50px;
}
.restaurants__cards .fa-heart:hover::before {
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*===================== Fin CSS restaurants ===================== */
/*===================== CSS Menus ===================== */
.imageMenu {
  position: relative;
  height: 300px;
}

.titreMenu {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.titreMenu h1 {
  font-family: "Shrikhand";
  font-size: 30px;
  font-weight: 300;
}
.titreMenu .fa-heart {
  font-size: 30px;
}

.carte {
  top: -60px;
  border-radius: 30px 30px 0px 0px;
  background-color: white;
}

.menu {
  margin-top: 30px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 23px;
}
.menu::after {
  display: flex;
  content: "";
  background-color: #99E2D0;
  margin-top: 6px;
  margin-bottom: 6px;
  width: 60px;
  height: 2px;
  padding: 2px;
}

.repas {
  display: flex;
  flex-direction: column;
}
.repas .plats {
  margin-top: 15px;
  padding: 3%;
  border-radius: 20px;
  box-shadow: 1px 1px 12px #c2c2c2;
  animation: slideDownPlats 1s;
}
.repas .plats__details {
  display: flex;
  justify-content: space-between;
}
.repas .plats__details p {
  line-height: 30px;
}
.repas .plats__details .prix {
  font-weight: 900;
  font-size: 18px;
}

.btn_menus {
  margin: 15px auto;
  width: 50%;
}

/*# sourceMappingURL=main.css.map */
