@media only screen and (min-width: 992px){
    .restaurants__all{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .header {
        width: 100%;
    }

    .fonctionnement__all{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .fonctionnement__title--responsive{
        text-align: start;
        margin-left: 150px;
    }

    .footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}
