/*===================== CSS Components ===================== */

.btn{
    padding: 18px;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    color: $txt-fond-sombre;
    background: linear-gradient($color-secondary-rose, 15%, $color-primary-violet);
    box-shadow: $box-shadows-var;
    opacity: 80%;
}



/*===================== Fin CSS Components ===================== */