/*===================== CSS Menus ===================== */

 @import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0; 
    margin: 0;
    font-family: 'Roboto', sans-serif;
    z-index: 1;
}

a {
    color: black;
    text-decoration: none;
}

@keyframes rotation {
    0% {
       transform : rotate(0deg);
    }
    100% {
       transform: rotate(360deg);
    }
}

header {
    width: 100%;
    height: 80px;
    position: sticky;
    z-index: 20;
    display: flex;
    align-items: center;
}

#logo {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 200px;
    margin-top: 10px;
}

.fa-arrow-left {
    padding-left: 20px;
    color: rgb(54, 54, 54);
}
.menu--image {
    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        position: absolute;
    }
}
.menu {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgb(247, 247, 247);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin-top: 250px;
    position: relative;
    width: 100%;
    &__title {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: 5%;

        &--text {
            font-family: 'Shrikhand', cursive;
            font-size: 27px;   
        }
        .fa-heart {
            margin-left: 30px;
            text-shadow: 0 0 2px #000;
            color: rgb(247, 247, 247);
            transition: 0.3s;
            transition-duration: 0.3s;
        }
    
        .fa-heart:hover {
            color: #9b57c0;
            cursor: pointer;
        }
    }

}

.menu__entree, .menu__plat, .menu__dessert {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 25px;
    .menu__entree__title, .menu__plat__title, .menu__dessert__title {
        font-size: 16px;
    }

    .menu__entree__title--bar, .menu__dessert__title--bar {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: solid #99E2D0 3px;
        width: 50px;
        margin-top: 3px;
    }
    .menu__plat__title--bar {
        @extend .menu__entree__title--bar;
        width: 40px;
    }
}

.card__menu {
    display: flex;
    margin-top: 10px;
    width: 100%;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 4px 7px rgb(184, 184, 184);

    &:hover .card__menu__text {
        width: 60%;
    }
    &:hover {
        cursor: pointer;
    }
    &:hover .card__menu--animation{
        opacity: 1;
        width: 70px;
    }
    &:hover i {
        animation-name: rotation;
        animation-duration: 0.3s;
        animation-timing-function: ease-out;
    }
    &--animation {
        background-color: $color-tertiaire-vert;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        justify-content: center;
        align-items: center;
        display: flex;
        overflow: hidden;
        width: 0px;
        opacity: 0.8;
        transform-origin: right 50%;
        transition-property: width, opacity;
        transition-duration: 0.3s;
        transition-timing-function: ease-out;
        i {
            color: white;
            overflow: hidden;
        }
    }
    .card__menu__price {
        width: 40px;
        display: flex;
        align-items: flex-end;
         margin-left: 40px;;
        &--price{
            display: flex;
            align-items: flex-end;
            font-weight: 800;
            margin-bottom: 9px;
            margin-top: 5px;
        }
    }
    .card__menu__text {
        display: flex;
        flex-direction: column;
        width: 80%;
        transition-duration: 0.3s;
        transition-timing-function: ease-out;
        transition-property: width;
        &--title {
            font-size: 15px;
            font-weight: 800;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 90%;
            margin-top: 9px;
            margin-left: 12px;
        }
        &--description {
            margin-top: 5px;
            font-size: 13px;
            font-weight: 400;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 90%;
            margin-top: 9px;
            margin-bottom: 9px;
            margin-left: 12px;

        }
    }
}


