/*===================== CSS Menus ===================== */
.imageMenu{
    position: relative;
    height: 200px;
}

.titreMenu{
    width: 100%;
    display: flex;
    justify-content: space-around;

    h1{
        font-family: "Shrikhand";
        font-size: 30px;
        font-weight: 100;
    }

    .fa-heart{
        font-size: 30px;

        &:hover::before{
            background: linear-gradient($color-secondary-rose, $color-primary-violet);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

}

.carte{
    @extend %container;
    border-radius: 30px 30px 0px 0px;
    background-color: white; 
}

.menu{
    margin-top: 30px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 23px;

    &::after{
        display: flex;
        content: "";
        background-color: $color-tertiaire-vert;
        margin-top: 6px;
        margin-bottom: 6px;
        width: 60px;
        height: 2px;
        padding: 2px;
    }
}

.repas{
    display: flex;
    flex-direction: column;

    .plats{
        position: relative;
        margin-top: 15px;
        height: 75px;
        padding: 3%;
        border-radius: 20px;
        box-shadow: $box-shadows-article-var;
        animation: slideDownPlats 1s;

        &__details{
            display: flex;
            justify-content: space-between;

            p{
                line-height: 30px;
            }
            
            .prix{
                font-weight: 900;
                font-size: 18px;
            }
        }
    }
}

/////////////////////////////////////////////////////////////////////

section{
    justify-items: center;
    display: grid;
    height: auto;
    margin-bottom: -5px;
    max-width: 100%;
    .menu__choice{
        display: grid;
        height: auto;
        grid-row-gap: 15px;
        grid-template-columns: 1fr;
        align-items: flex-end;
        justify-items: center;
        grid-auto-flow: row;
        grid-template-rows: repeat(4,1fr);

        &--text{
            margin: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 232px;
            transition: transform 500ms ease-in-out;

            h2{
                width: auto;
            }
        }

        &--price{
            height: 100%;
            width: 50px;
            margin: 0;
            top: 0;
            display: flex;
            border-radius: 0px 0px 30px 30px ;
            background-color: white;
            align-items: flex-end;
            margin-left: 10px;
            transition: transform 500ms ease-in-out;
        }

        .textOnly{
            padding-right: 2px;

            &__title{
                width: auto;
                position: relative;
                margin: 0;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            &__description{
                width: auto;
                position: relative;
                margin: 0;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;

                p{
                    width: auto;
                }
            }
        }
    }

    .card__menu{
        display: flex;
        align-items: center;
        border-radius: 15px 15px 15px 15px;
        justify-content: space-between;
        width: 320px;
        height: 66px;
        position: relative;
        padding-left: 15px;
        padding-right: 15px;
    }

    .card__animation--menu{
        background-color: white;
        box-shadow: 4px 4px 5px #abb0b4;
        transition: box-shadow 250ms, scale 50ms 200ms;
        &:hover{
            cursor: pointer;
            box-shadow: 10px 10px 10px #343638;
        }
    }

    .check{
        display: flex;
        background-color: $color-tertiaire-vert;
        height: 100%;
        justify-content: center;
        align-items: center;
        z-index: 2;
        position: absolute;
        border-top-right-radius: 15px ;
        border-bottom-right-radius: 15px;
        float: right;
        left: 250px;
        width: 70px;
        transform: scaleX(0);
        transition: transform 400ms;
    }

    .meal{
        display: flex;
        align-items: center;
        width: 40px;
        height: 20px;
        margin-right: 250px;
        border-bottom: 3px solid $color-tertiaire-vert;
    }
}


.btn_menus{
    @extend %flex-center;
    margin: 40px auto;
    width: 50%;
}
