/* Utilitaires color */
$color-primary-violet : #9356DC;
$color-secondary-rose: #FF79DA;
$color-tertiaire-vert: #99E2D0;

/* Couleurs de fonds */
$background-dark-grey: #E1E1E1;
$background-light-grey: #FAFAFA;

/* Couleur de txt */
$txt-fond-sombre: #FFF;
$txt-fond-clair: #000000;