/*===================== CSS Header ===================== */
.container{
    
    .__img--header{
        width: 150px;
        height: 30px;
        margin: 0 auto;
    }
}



/*===================== Fin CSS Header ===================== */